<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.photolocator"
    android:versionCode="1"
    android:versionName="1.0" >
    
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:name="com.photolocator.BaseApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.App" >
            <activity
            android:name=".activity.WelcomeActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
      <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.RegisterActivity"
            android:screenOrientation="portrait" >
        </activity>

          <activity
            android:name=".activity.FeedProfileActivity"
            android:screenOrientation="portrait" >
        </activity>
              <activity
            android:name=".activity.ImageBrowserActivity"
            android:screenOrientation="portrait" >
        </activity>
              <activity
            android:name=".activity.OtherFeedListActivity"
            android:screenOrientation="portrait" >
        </activity>
              <activity
            android:name=".activity.OtherProfileActivity"
            android:screenOrientation="portrait" >
        </activity>
        
          <activity
            android:name=".tab.MainTabActivity"
            android:screenOrientation="portrait" >
        </activity>
         <activity
            android:name=".tab.NearByPeopleFragment"
            android:screenOrientation="portrait" >
        </activity>
          <activity
            android:name=".tab.ContactTabsActivity"
            android:screenOrientation="portrait" >
        </activity>
           <activity
            android:name=".tab.NearByFeedsActivity"
            android:screenOrientation="portrait" >
        </activity>
            <activity
            android:name=".tab.NearByActivity"
            android:screenOrientation="portrait" >
        </activity>
           <activity
            android:name=".tab.TabItemActivity"
            android:screenOrientation="portrait" >
        </activity>
         <activity
            android:name=".tab.UserSettingByActivity"
            android:screenOrientation="portrait" >
        </activity>
        
           <activity
            android:name=".activity.imagefactory.ImageFactoryActivity"
            android:screenOrientation="portrait" >
        </activity>

    </application>

</manifest>
